/* AO3 defaults */
html { height: 100%; }
body {
	margin: 0;
	font: 12px/1.125 'Lucida Grande','Lucida Sans Unicode','GNU Unifont',Verdana,Helvetica,sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

main { padding: 1% 3.5%; }

main > section {
	max-width: 72em;
	margin: auto;
}

main p {
	margin: 1.286em auto;
	padding: 0;
	line-height: 1.5;
}

main a {
	border-bottom: 1px solid;
	text-decoration: none;
}

main img { max-width: 100%; }

table { width: 100%; }
td { padding: .25em; }

a:active,
a:focus {
	outline: 1px dotted;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: 400;
}

main h1 {
	font-size: 2.5em;
	line-height: 1;
	margin: .5em 0;
	text-align: center;
}
main h2 {
	font-size: 2.143em;
	line-height: 1;
	margin: 1.5em 0;
	display: block;
}
main h3 {
	font-weight: 500;
	padding: .125em;
	border-bottom: .25em double #333;
	font-size: 1.286em;
	line-height: 1;
	margin: .5375em 0;
}
main h4 {
	font-weight: 700;
	font-size: 1.143em;
	line-height: 1.125;
	margin: .5em 0;
}
main h5 {
	font-weight: 600;
	font-size: 1em;
	line-height: 1.286;
	margin: .643em 0;
}
main h6 {
	font-size: .975em;
	border-bottom: 1px solid;
	font-weight: 900;
	line-height: 1.5;
	margin: 1.5em 0;
}

hr {
	width: 33%;
	margin: .875em auto 1.2525em;
}

/* Responsive text sizing */
@media screen and (min-width: 672px) {
	body { font-size: 15px; }
}


/* Header */
/* Navigation and preview */
#top {
	padding: 1.5em 1em 1.25em;
	margin: 0;
	display: flex;
	align-items: center;
}
#top h1 { margin: 0; }
#top h1 a,
#top h1 a:hover {
	font-weight: 400;
	border: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	display: inline;
}
#post #top h1 { margin-right: 15px; }
#top p {
	margin: 0;
	display: flex;
	text-align: center;
}
#top p span { margin: 0 4px; }
#top p span:not(:last-of-type) {
	padding-right: 8px;
	border-right: 1px solid;
}
#top p span.unavailable {
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
}
#top a {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid;
	padding: 3px 0;
	display: inline-block;
}
#top a:hover { text-decoration: underline; }

/* Site/work skins toggle options */
#skintoggle {
	margin: 0;
	padding: 0 10px;
	text-align: center;
	box-shadow: inset 0 -6px 10px rgba(0,0,0,.35) , 1px 1px 3px -1px rgba(0,0,0,.25) , inset 0 -1px 0 rgba(0,0,0,.85);
	display: flex;
	align-items: center;
}
#skintoggle a {
	cursor: pointer;
	display: inline-block;
	padding: .429em .75em;
}
.sitetoggle { padding-left: .75em; }
.work { flex-shrink: 0; }

#top, #skintoggle { justify-content: center; }
/* Spacing for header/navbar when displaying a skin preview */
#post #top, #post #skintoggle { justify-content: space-between; }


/* Footer */
body footer {
	text-align: center;
	font-family: Georgia, serif;
	padding: .5em 1em;
}

body footer nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

body footer nav a {
	padding: .5em;
	margin: .25em;
}

@media screen and (max-width: 370px) {
	#post #top h1 { margin-right: 0; }
	#top p span { margin: 3px 0; }
	#top p span:not(:last-child) {
		padding-right: 0;
		border-right: none;
	}
	
	#top p, body footer nav { flex-direction: column; }
	body footer nav a { margin: 0; }
}



/* Main page styles */
/* Table of contents */
.toc {
	border-collapse: collapse;
	max-width: 750px;
	margin: 0 auto;
}
.toc tr a:hover { text-decoration: underline; }
.toc td { padding: 0.5em 0.25em; }
.toc td:first-child { padding-left: 1em; width: 50%; }
.toc td:last-child { padding-right: 1em; }
.toc td:not(:first-child) { text-align: right; }
.toc td.unavailable {
	font-style: italic;
	opacity: 0.5;
	cursor: default;
	font-size: 0.9em;
}
.toc a {
	display: block;
	border: none;
}

/* Preface and afterword notes sections */
div.notes {
	margin: 1.5em 3em;
	padding: .643em .643em 0;
}
div.notes h3 { border-bottom: 1px solid; }
div.notes .userstuff { margin: .643em;}
div.notes .userstuff p:first-child { margin-top: 0; }


/* Skin-specific styles */

/* Default skin (light mode) */
.default {
	background-color: #fff;
	color: #2a2a2a;
}

.default h2 { color: #333; }

.default #top a { color: #900; }

.default #skintoggle {
	background: #900 url(https://archiveofourown.org/images/skins/textures/tiles/red-ao3.png);
	color: #fff;
}
.default #skintoggle a.selected,
.default #skintoggle a:hover {
	background: #ddd;
	color: #111;
}

.default main > section a,
.default main > section a:link,
.default main > section a:visited:hover { color: #111; }
.default main > section a:visited { color: #666; }
.default main > section a:hover { color: #999; }

.default footer { background: #900 url(https://archiveofourown.org/images/skins/textures/tiles/red-ao3.png); }
.default footer a { color: #fff; }

.default .toc tr:nth-child(2n+1) { background-color: #eee; }
.default .toc tr a:visited { color: #2a2a2a; }
.default .toc tr:hover,
.default .toc tr:hover a,
.default .toc tr:hover a:visited { background-color: #900; color: #fff; }


/* Reversi skin (dark mode) */
.reversi {
	background-color: #333333;
	color: #eee;
}

.reversi h2 { color: #fff; }

.reversi #top a { color: #5998d6; }

.reversi #skintoggle {
	background: #454545 url(https://archiveofourown.org/images/skins/textures/tiles/black-noise.jpg);
	color: #fff;
}
.reversi #skintoggle a.selected,
.reversi #skintoggle a:hover { background: #2a2a2a; }

.reversi main > section a,
.reversi main > section a:link,
.reversi main > section a:visited:hover { color: #fff; }
.reversi main > section a:visited { color: #999; }
.reversi main > section a:hover { color: #bbb; }

.reversi footer {
	background: #454545 url(https://archiveofourown.org/images/skins/textures/tiles/black-noise.jpg);
	border-top: 2px solid #555;
}
.reversi footer a { color: #fff; }

.reversi .toc tr a:visited { color: #eee; }
.reversi .toc tr:nth-child(2n+1) { background-color: #111; }
.reversi .toc tr:hover,
.reversi .toc tr:hover a,
.reversi .toc tr:hover a:visited {
	background-color: #5998d6;
	color: #111;
}

.reversi div.notes h3 { border-color: #555; }


/* Low contrast skin */
.low-contrast {
	background-color: #a59c91;
	color: #ccc;
}

.low-contrast #top { background: #423d36; }
.low-contrast #top a {
	color: #c9b8c1;
}

.low-contrast #skintoggle {
	background-color: #2b2823;
	color: #ffffffbf;
}
.low-contrast #skintoggle a.selected,
.low-contrast #skintoggle a:hover {
	color: #c22;
	background: #000c;
}

.low-contrast main {
	margin: .75em .5em;
	border: none;
	background-color: #564b3f;
}

.low-contrast main > section a,
.low-contrast main > section a:link,
.low-contrast main > section a:visited:hover { color: #ccc; }
.low-contrast main > section a:visited { color: #999; }
.low-contrast main > section a:hover { color: #fff; }

.low-contrast footer {
	background-color: #241f18;
	text-transform: lowercase;
	border-top: 2px solid #777;
}
.low-contrast footer a { color: #ccc; }

.low-contrast .toc {
	background-color: #221609e6;
	border:  0.75em solid transparent;
}
.low-contrast .toc tr:nth-child(2n+1) { background-color: #ffffff1a; }
.low-contrast .toc tr:nth-child(2n) { background-color: #fff3; }
.low-contrast .toc tr a,
.low-contrast .toc tr a:visited { color: #c9b8c1; }
.low-contrast .toc tr:hover,
.low-contrast .toc tr:hover a:hover {
	background-color: #700;
	color: #f9c4e0;
}

.low-contrast div.notes {
	background-color: rgba(34,22,9,.6);
	padding-bottom: .5em;
}