#workskin .hyj { color: #ac00b1 }
#workskin .hyj1 { color: #7500b7 }
#workskin .hyj2 { color: #f932ff }
#workskin .hyj12 { color: #b871ff }

#workskin .hyh { color: #a30101 }
#workskin .hyh2 { color: #d21e1e }

#workskin .shj { color: #ba9d00 }
#workskin .shj2 { color: #f4e176 }

#workskin .gyeol { color: #ed0085 }
#workskin .gyeol2 { color: #ff2fa4 }

#workskin .ksy { color: #0f7ee0 }
#workskin .ksy2 { color: #319eff }

#workskin .byr { color: #2b1ba2 }
#workskin .byr2 { color: #34c5d5 }

#workskin .stw { color: #302f4d }
#workskin .stw2 { color: #7d7c93 }

#workskin .riette { color: #e2bf00 }
#workskin .riette2 { color: #e2bf00 }

#workskin .noah { color: #5f8978 }
#workskin .noah2 { color: #8cd7b9 }

#workskin .ymw { color: #d96600 }
#workskin .ymw2 { color: #ffa351 }

#workskin .mha { color: #d70000 }
#workskin .mha2 { color: #ff3636 }

#workskin .system.block {
	background: #002f4d;
	color: #eaeaea;
	border-color: #c9ffff;
}

#workskin .waterdroplet,
#workskin .wd { color: #43d0f1 }
#workskin .waterdroplet2,
#workskin .wd2 { color: #0096ba }

#workskin .newcomer,
#workskin .nc { color: #d7d3cd }
#workskin .newcomer2,
#workskin .nc2 { color: #8b8883 }

#workskin .tree { color: #02d22c }
#workskin .tree2 { color: #008108 }

#workskin .diarma { color: #cf394d }
#workskin .diarma2 { color: #7d2430 }

#workskin .jellyfish,
#workskin .jf,
#workskin .rukafeiya { color: #c595fe }
#workskin .jellyfish2,
#workskin .jf2,
#workskin .rukafeiya2 { color: #6607f1 }

#workskin .chatterbox,
#workskin .cb { color: #7887ff }
#workskin .chatterbox2,
#workskin .cb2 { color: #2f45ff }

#workskin .whitebird,
#workskin .wb,
#workskin .birdwhocountsstars,
#workskin .chirpie { color: #ffc003 }
#workskin .whitebird2,
#workskin .wb2,
#workskin .birdwhocountsstars2,
#workskin .chirpie2 { color: #ff5400 }

#workskin .crescentmoon,
#workskin .cm { color: #beb577 }
#workskin .crescentmoon2,
#workskin .cm2 { color: #726938 }