/* Standard header prompt and commands */
#workskin .prompt { /* Title of the top of the page. Apply to <p> tags. ==> */
	font-size: 32px;
	font-weight: bold;
	font-family: "Courier New", courier, monospace;
	color: #000;
}
#workskin .command1,
#workskin .com1 { /* Arrow to the next page.
					Use &gt; instead of > and apply using <span> tag, so that
					it looks like <span class="command1">&gt;</span>. */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}
#workskin .command2,
#workskin .com2 { /* Command for the next page, looks like a link. Apply to <span> tag. */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-decoration: underline;
	color: #0000ee;
}

/** Scratch version of header and prompt
	To use these, add class="scratch secondclass" to the element,
	where secondclass is one of < prompt | command1 | com1 | command2 | com2 >.
	The <p> or <div> containing the prompt/command should be of class "intermission".
*/
#workskin .scratch.prompt { /* Title of the top of the page. ==> */
	color: #fff;
}
#workskin .scratch.command1,
#workskin .scratch.com1 { /* Arrow to the next page */
	color: #ffffff;
}
#workskin .scratch.command2,
#workskin .scratch.com2 { /* Command for the next page, looks like a link */
	color: #2cff4b;
}

/* PESTERLOG
Best applied to a <div> surrounding all paragraphs containing texts/speech.
Note that all paragraph spacing is turned off, so all lines are spaced apart
equally, whether separated by a <br> linebreak tag or a <p> paragraph tag.
I recommend separating each new speaker's text/speech into a new paragraph, and
putting <br> linebreak tags between each individual lines from that person.
This is to accommodate users who turn off user styling, disabling this workskin.
See the HTML linked for an example of a pesterlog (under "PESTERLOG SAMPLE").
*/
#workskin .block {
	max-width: 650px;
	margin: 20px auto;
	border: 1px dashed gray;
	padding: 10px 35px;
	font-size: 14px;
	font-weight: bold;
	font-family: Courier New, courier, monospace;
	background: #eeeeee;
	color: #000000;
}
#workskin .block p { margin: 0; }

/** Pesterlog, scratch version.
	White text on a green background, instead of black text on a gray background.
	Apply to <div> tags in the format class="scratch block".
*/
#workskin .scratch.block {
	background: #000000;
	color: #ffffff;
}

/** CUSTOM CHAT LOG
	If you'd like your own background and text colors for a pesterlog block:
	- Modify the code given below:
		- Change CUSTOM to your special pesterlog's name. Preferably, pick a single short word.
		- Change the colors to your own (hex or RGB format). Make sure the colors contrast enough to be easily readable!
	- In the HTML, apply to <div> tags in the format class="CUSTOM block". Note that the name is case-sensitive- "custom" is NOT the same as "CUSTOM"!
*/
#workskin .CUSTOM.block {
	background: #6c0b6b; /* Background color */
	color: #ffffff; /* Text color */
}


/** All standard text.
	Note that usage of this is only required when styles are being used outside of a .block element.
	Use class="text secondclass" and replace <secondclass> with the appropriate character name
*/
#workskin .text {
	font-size: 14px;
	font-weight: bold;
	font-family: "Courier New", courier, monospace;
}

/** CANON COLORS
	Each character is listed with each of the following, as applicable.
	- First name
	- Nicknames
	- Chumhandle (full, all versions)
	- Chumhandle abbreviations (Characters with duplicate abbreviations have their abbreviations suffixed with "a" or "b" for alpha or beta respectively. Characters turned into sprites have their abbreviations followed by "s")
	- Name of group or family (non-humans only)

	All characters' styles are annotated with their full names for easier searching.

	SPECIAL CASES
	- Jasprose and Davepeta use different styles for their names and their actual speech/texts. The styles for their names are .<chara>-name and .<chara>name, and for their speech/texts are .<chara>-text and .<chara>text. Replace <chara> with the appropriate character (nick)name.
	- Similarly, Jade Harley and Jane Crocker use different styles when grimbark and crockertier respectively. The styles for their names are the standard: .jade and .jane, and the styles for their speech/texts are .grimbark and .crockertier respectively.
	- The Vantases have two main styles, gray and red. Instead of a single .vantas style, there's two: .vantasb for gray, and .vantasa for red.

	CUSTOM CHARACTER NAMES
	I've added some personal headcanon names for special characters, including Davesprite and all the human ancestors/guardians. Each of these is tagged with the comment "custom". Feel free to change/delete these as you like. Alternatively, add your own custom names using the same format!
*/

/* Standard white text */
#workskin .white { color: #ffffff; }

/* Standard black text */
#workskin .black,
/* Jade Harley, grimbark speech and text */
#workskin .grimbark,
/* Andrew Hussie */
#workskin .hussie,
#workskin .andrewhussie,
#workskin .andrew,
#workskin .huss {
	color: #000000;
}

/* John Egbert */
#workskin .john,
#workskin .ghostytrickster,
#workskin .gtb,
#workskin .ectobiologist,
#workskin .eb,
/* Jane's Tavrosprite, Tavrisprite, and GCATavrosprite */
#workskin .tavrosprite,
#workskin .tavrisprite,
#workskin .tavris,
#workskin .gcatavrosprite,
#workskin .gcatavros {
	color: #0715cd;
}

/* Rose Lalonde */
#workskin .rose,
#workskin .tentacletherapist,
#workskin .ttb,
/* Roxy's Fefetasprite */
#workskin .fefetasprite,
#workskin .fefeta,
/* Roxy's Rosesprite, and Jasprosesprite^2's speech and text */
#workskin .rosesprite,
#workskin .jasprosesprite-text,
#workskin .jasprosespritetext,
#workskin .jasprose-text,
#workskin .jasprosetext {
	color: #b536da;
}

/* Dave Strider */
#workskin .dave,
#workskin .turntechgodhead,
#workskin .tgb,
/* Dirk's Auto-Responder / Lil Hal Strider */
#workskin .ar,
#workskin .hal,
/* Dirk's Equiusprite and Arquiusprite */
#workskin .equiusprite,
#workskin .arquiusprite,
#workskin .arquius {
	color: #e00707;
}

/* Jade Harley */
#workskin .jade,
#workskin .gardengnostic,
#workskin .ggb,
/* Jake's Erisolsprite */
#workskin .erisolsprite,
#workskin .erisol,
/* Jake's Nepetasprite, and Davepetasprite^2's name and B33 < prefix */
#workskin .nepetasprite,
#workskin .davepetasprite-name,
#workskin .davepetaspritename,
#workskin .davepeta-name,
#workskin .davepetaname {
	color: #4ac925;
}

/* Jane Crocker */
#workskin .jane,
#workskin .gutsygumshoe,
#workskin .gga,
/* John's Nannasprite */
#workskin .nannasprite {
	color: #00d5f2;
}

/* Jane's speech and text when Crockertier */
#workskin .crockertier,
/* Dirk's Squarewave */
#workskin .squarewave {
	color: #ff0000;
}

/* Jake English */
#workskin .jake,
#workskin .golgothasterror,
#workskin .gta,
/* Jade's Becsprite and Jadesprite */
#workskin .becsprite,
#workskin .jadesprite,
#workskin .ggs {
	color: #1f9400;
}

/* Roxy Lalonde */
#workskin .roxy,
#workskin .tipsygnostalgic,
#workskin .tga {
	color: #ff6ff2;
}

/* Dirk Strider */
#workskin .dirk,
#workskin .timaeustestified,
#workskin .tta,
/* Dave's Davesprite */
#workskin .davesprite,
#workskin .tgs,
#workskin .byrd, /* custom */
/* Doomed Dave's Calsprite */
#workskin .calsprite,
/* Davepetasprite^2's speech and text */
#workskin .davepetasprite-text,
#workskin .davepetaspritetext,
#workskin .davepeta-text,
#workskin .davepetatext {
	color: #f2a400;
}

/* Jaspersprite, and Jasprosesprite^2's name */
#workskin .jaspersprite,
#workskin .jasprosesprite-name,
#workskin .jasprosespritename,
#workskin .jasprose-name,
#workskin .jasprosename {
	color: #f141ef;
}

#workskin .megido,
/* Aradia Megido */
#workskin .aradia,
#workskin .ara,
#workskin .apocalypsearisen,
#workskin .aa,
#workskin .aradiabot,
/* Damara Megido and the Handmaid */
#workskin .damara,
#workskin .handmaid,
#workskin .aradiasprite,
/* The Megido lusus */
#workskin .kangarammom,
#workskin .kangaram-mom,
#workskin .rammom,
#workskin .ram-mom {
	color: #a10000;
}

#workskin .nitram,
/* Tavros Nitram */
#workskin .tavros,
#workskin .tav,
#workskin .adiostoreador,
#workskin .at,
/* Rufioh Nitram and the Summoner */
#workskin .rufioh,
#workskin .summoner,
/* The Nitram lusus */
#workskin .tinkersprite,
#workskin .tinkerbull {
	color: #a15000;
}

#workskin .captor,
/* Sollux Captor */
#workskin .sollux,
#workskin .sol,
#workskin .twinarmageddons,
#workskin .ta,
/* Mituna Captor and the Ψiioniic/Psionic/Helmsman */
#workskin .mituna,
#workskin .psiioniic,
#workskin .psi,
#workskin .psii,
#workskin .helmsman,
/* The Captor lusus */
#workskin .biclopsprite,
#workskin .bicyclopsprite,
#workskin .biclops,
#workskin .biclopsdad,
#workskin .biclops-dad,
#workskin .bicyclops,
#workskin .bicyclopsdad,
#workskin .bicyclops-dad {
	color: #a1a100;
}

/* GRAY Vantas text */
#workskin .vantasb,
/* Karkat Vantas */
#workskin .karkat,
#workskin .kar,
#workskin .kk,
#workskin .carcinogeneticist,
#workskin .cg,
/* The Vantas lusus */
#workskin .crabsprite,
#workskin .crabdad {
	color: #626262;
}

/* RED Vantas text */
#workskin .vantasa,
/* Karkat's alternate text */
#workskin .altkarkat,
#workskin .altkar,
#workskin .altkk,
#workskin .altcarcinogeneticist,
#workskin .altcg,
/* Kankri Vantas and the Signless/Sufferer */
#workskin .kankri,
#workskin .signless,
#workskin .sufferer,
/* Red ~ATH text */
#workskin .athred {
	color: #ff0000;
}

#workskin .leijon,
/* Nepeta Leijon */
#workskin .nepeta,
#workskin .nep,
#workskin .arseniccatnip,
#workskin .ac,
/* Meulin Leijon and the Disciple */
#workskin .meulin,
#workskin .disciple,
/* The Leijon lusus */
#workskin .pouncesprite,
#workskin .pounce,
#workskin .pouncedeleon,
#workskin .pounce-de-leon {
	color: #416600;
}

#workskin .maryam,
/* Kanaya Maryam */
#workskin .kanaya,
#workskin .kan,
#workskin .grimauxiliatrix,
#workskin .ga,
/* Porrim Maryam and the Dolorosa */
#workskin .porrim,
#workskin .dolorosa,
/* The Maryam lusus */
#workskin .mothersprite,
#workskin .mothergrub,
#workskin .mother-grub,
#workskin .virginmothergrub,
#workskin .virgin-mother-grub {
	color: #008141;
}

#workskin .pyrope,
/* Terezi Pyrope */
#workskin .terezi,
#workskin .tez,
#workskin .tz,
#workskin .gallowscalibrator,
#workskin .gc,
/* Latula Pyrope and Neophyte Redglare */
#workskin .latula,
#workskin .neophyte,
#workskin .redglare,
/* The Pyrope lusus */
#workskin .dragonsprite,
#workskin .dragon,
#workskin .pyralspite {
	color: #008282;
}

#workskin .serket,
/* Vriska Serket */
#workskin .vriska,
#workskin .vris,
#workskin .arachnidsgrip,
#workskin .ag,
/* Aranea Serket and Marquise Spinneret Mindfang */
#workskin .aranea,
#workskin .marquise,
#workskin .spinneret,
#workskin .mindfang,
/* The Serket lusus */
#workskin .spidersprite,
#workskin .spider,
#workskin .spidermom,
#workskin .spider-mom {
	color: #005682;
}

#workskin .zahhak,
/* Equius Zahhak */
#workskin .equius,
#workskin .centaurstesticle,
#workskin .ct,
/* Horuss Zahhak and E%ecutor/Executor Darkleer/the E%patria8/Expatriate */
#workskin .horuss,
#workskin .executor,
#workskin .expatri8,
#workskin .darkleer,
/* The Zahhak lusus */
#workskin .aurthoursprite,
#workskin .aurthour,
/* Alternate Aradia's text */
#workskin .altaradia {
	color: #000056;
}

#workskin .makara,
/* Gamzee Makara */
#workskin .gamzee,
#workskin .gam,
#workskin .terminallycapricious,
#workskin .tc,
/* Kurloz Makara and the Grand Highblood */
#workskin .kurloz,
#workskin .grandhighblood,
#workskin .ghb,
/* The Makara lusus */
#workskin .goatsprite,
#workskin .goatdad {
	color: #2b0057;
}

/* The Makaras' chucklevoodoos */
#workskin .altgamzee,
#workskin .altgam,
#workskin .altgm,
#workskin .altgz,
#workskin .altterminallycapricious,
#workskin .alttc,
#workskin .altkurloz,
#workskin .altgrandhighblood,
#workskin .altghb,
#workskin .altmakara,
#workskin .chucklevoodoo,
#workskin .chucklevoodoos {
	color: #5716ad;
}

#workskin .ampora,
/* Eridan Ampora */
#workskin .eridan,
#workskin .eri,
#workskin .caligulasaquarium,
#workskin .ca,
/* Cronus Ampora and Orphaner Dualscar */
#workskin .cronus,
#workskin .orphaner,
#workskin .dualscar,
/* The Ampora lusus */
#workskin .seahorsesprite,
#workskin .skyhorsesprite,
#workskin .seahorsedad,
#workskin .seahorse-dad,
#workskin .skyhorsedad,
#workskin .skyhorse-dad {
	color: #6a006a;
}

#workskin .peixes,
/* Feferi Peixes */
#workskin .feferi,
#workskin .fef,
#workskin .ff,
#workskin .cuttlefishculler,
#workskin .cc,
/* Meenah Peixes and Her Imperious Condescension */
#workskin .meenah,
#workskin .herimperiouscondescension,
#workskin .hic,
#workskin .condesce,
#workskin .condy,
#workskin .batterwitch,
/* The Peixes lusus */
#workskin .gl’bgolybsprite,
#workskin .glbgolybsprite,
#workskin .gl’bgolyb,
#workskin .glbgolyb {
	color: #77003c;
}

/* Calliope the cherub */
#workskin .calliope,
#workskin .callie,
#workskin .uug,
#workskin .uranianumbra {
	color: #929292;
}

/* Caliborn the cherub */
#workskin .caliborn,
#workskin .uur,
#workskin .undyingumbrage {
	color: #323232;
}

/* Alternate Calliope */
#workskin .altcalliope,
#workskin .altcallie,
#workskin .altuug,
/* Caliborn's blood color */
#workskin .calibornblood,
#workskin .uurblood,
#workskin .undyingumbrageblood {
	color: #ff0000;
}

/* Alternate Caliborn */
#workskin .altcaliborn,
#workskin .altuur,
/* Calliope's blood color */
#workskin .calliopeblood,
#workskin .callieblood,
#workskin .uugblood,
#workskin .uranianumbrablood
/* General text color for the Felt and Lord English
	Also used for writing Doc Scratch's name */
#workskin .thefelt,
#workskin .felt,
#workskin .lordenglish {
	color: #2ed73a;
}

/* Exiles and Carapacians */
#workskin .exile,
/* Wayward Vagabond / The Mayor */
#workskin .warwearyvillein,
#workskin .wizardlyvassal,
#workskin .waywardvagabond,
#workskin .wastelandicvindicator,
#workskin .wv,
#workskin .mayor,
#workskin .themayor,
/* Peregrine Mendicant */
#workskin .parcelmistress,
#workskin .peregrinemendicant,
#workskin .prospitianmonarch,
#workskin .pm,
/* Aimless Renegade */
#workskin .authorityregulator,
#workskin .aimlessrenegade,
#workskin .armamentsregent,
#workskin .ar,
/* The White King and White Queen */
#workskin .whiteking,
#workskin .writkeeper,
#workskin .wk,
#workskin .whitequeen,
#workskin .windsweptquestant,
#workskin .wq,
/* Jack Noir / Spades Slick */
#workskin .jacknoir,
#workskin .jack,
#workskin .noir,
#workskin .spadesslick,
#workskin .spades,
#workskin .slick,
#workskin .ss,
/* Diamonds Droog */
#workskin .draconiandignitary,
#workskin .diamondsdroog,
#workskin .diamonds,
#workskin .droog,
#workskin .dd,
/* Hearts Boxcars */
#workskin .hegemonicbrute,
#workskin .heartsboxcars,
#workskin .hearts,
#workskin .boxcars,
#workskin .hb,
/* Clubs Deuce */
#workskin .courtyarddroll,
#workskin .clubsdeuce,
#workskin .clubs,
#workskin .deuce,
#workskin .cd {
	color: #ffffff;
	background-color: #000000;
}

/* The Black Queen / Snowman */
#workskin .blackqueen,
#workskin .bq,
#workskin .snowman,
#workskin .felt8 {
	color: #6c7073;
	background-color: #000000;
}

/* John's and Jane's Dad */
#workskin .dad,
#workskin .johnsdad,
#workskin .janesdad,
#workskin .pipefan413 {
	color: #4b4b4b;
}

/* John's Nanna */
#workskin .nanna,
#workskin .johnsnanna,
#workskin .janelle { /* custom */
	color: #09d8bb;
}

/* Jane's Poppop */
#workskin .poppop,
#workskin .janespoppop,
#workskin .jonathan { /* custom */
	color: #0085ff;
}

/* Rose's Mom */
#workskin .rosesmom,
#workskin .roxanne { /* custom */
	color: #fc00a4;
}

/* Roxy's Mom */
#workskin .roxysmom,
#workskin .rosalyn,
#workskin .roz { /* custom */
	color: #7f009e;
}

/* Dave's Bro */
#workskin .davesbro,
#workskin .derrick,
#workskin .bro { /* custom */
	color: #deab14;
}

/* Dirk's Bro */
#workskin .dirksbro,
#workskin .devin,
#workskin .dev { /* custom */
	color: #a30101;
}

/* Jade's Grandpa */
#workskin .grandpa,
#workskin .jadesgrandpa,
#workskin .joshua { /* custom */
	color: #006201;
}

/* Jake's Grandma */
#workskin .grandma,
#workskin .jakesgrandma,
#workskin .jadene { /* custom */
	color: #659829;
}

/* Doc Scratch's standard pure white text */
#workskin .docscratch,
#workskin .scratch-white {
	color: #ffffff;
}

/** Doc Scratch's white text on a green background,
	as in the Intermission. For use outside .scratch.block */
#workskin .scratch-green,
#workskin .scratchgreen,
#workskin .intermission {
	color: #ffffff;
	background-color: #0e4603;
}

/* The off-white letter O in Doc Scratch's name */
#workskin .scratcho,
#workskin .docscratcho {
	color: #e0e0e0;
}

/* Felt members Itchy and Stitch */
#workskin .itchy,
#workskin .felt1,
#workskin .stitch,
#workskin .felt9 {
	color: #ffea00;
}

/* Felt members Doze and Sawbuck */
#workskin .doze,
#workskin .felt2,
#workskin .sawbuck,
#workskin .felt10 {
	color: #4040fd;
}

/* Felt members Trace and Matchsticks */
#workskin .trace,
#workskin .felt3,
#workskin .matchsticks,
#workskin .felt11 {
	color: #df0000;
}

/* Felt members Clover and Eggs */
#workskin .clover,
#workskin .felt4,
#workskin .eggs,
#workskin .felt12 {
	color: #a357ff;
}

/* Felt members Fin and Biscuits */
#workskin .fin,
#workskin .felt5,
#workskin .biscuits,
#workskin .felt13 {
	color: #ff6000;
}

/* Felt members Die and Quarters */
#workskin .die,
#workskin .felt6,
#workskin .quarters,
#workskin .felt14 {
	color: #008140;
}

/* Felt members Crowbar and Cans */
#workskin .crowbar,
#workskin .felt7,
#workskin .cans,
#workskin .felt15 {
	color: #950015;
}

/* The letter O in Felt member Snowman's name */
#workskin .snowmano,
#workskin .felt8o {
	color: #000000;
}

/** SPECIAL COLORS
	This is a collection of non-character text colors, added partly for reference and partly for cases where you need these for highlighting special words. The majority of the colors here have both colored text and backgrounds.
	This list contains:
	- Aspects
	- Denizens (colors picked from known denizens' browser logos, and hypothetical
				colors/names added for unknown denizens)
	- Incipisphere planets and other bodies
	- Miscellaneous special colors
	- Blood and sign colors (sometimes different from typing colors)
	- Troll horn and skin colors
*/

/* Aspects */

#workskin .time { /* from logo and pants, 4331 */
	color: #fc0c02;
	background-color: #8e1414;
}

#workskin .space { /* from logo and shirt, 4297 */
	color: #ffffff;
	background-color: #000000;
}

#workskin .void { /* from extended zodiac */
	color: #001957;
	background-color: #104ea2;
}

#workskin .light { /* from logo and pants, 3296 */
	color: #fff743;
	background-color: #e76700;
}

#workskin .mind { /* from extended zodiac */
	color: #06ffc9;
	background-color: #00923d;
}

#workskin .heart { /* from logo and shorts, 5858 */
	color: #bd1864;
	background-color: #55142a;
}

#workskin .rage { /* from logo and shirt, 4828 */
	color: #9c4dad;
	background-color: #391e71;
}

#workskin .hope { /* From logo and hood, 5858 */
	color: #fdfdfd;
	background-color: #ffc331;
}

#workskin .doom { /* from extended zodiac */
	color: #000000;
	background-color: #306800;
}

#workskin .life { /* From logo and hood, 5858 */
	color: #76c34e;
	background-color: #605542;
}

#workskin .blood { /* from extended zodiac */
	color: #ba1016;
	background-color: #3e1601;
}

#workskin .breath { /* from logo and pant outline, 4297 */
	color: #10e0ff;
	background-color: #0063d0;
}

/* Denizens */

#workskin .hephaestus,
#workskin .dtime {
	color: #e00707;
	background-color: #000000;
}

#workskin .echidna,
#workskin .dspace {
	color: #ffffff;
	background-color: #1501b0;
}

#workskin .nix,
#workskin .dvoid {
	color: #ffffff;
	background-color: #8900fe;
}

#workskin .cetus,
#workskin .dlight {
	color: #ffffff;
	background-color: #bb66ff;
}

#workskin .metis,
#workskin .dmind { /* custom */
	color: #f6ce00;
	background-color: #2a8539;
}

#workskin .psyche,
#workskin .dheart { /* custom */
	color: #ffffff;
	background-color: #bd1864;
}

#workskin .pallas,
#workskin .drage { /* custom */
	color: #ffffff;
	background-color: #994bb3;
}

#workskin .abraxas,
#workskin .dhope {
	color: #29ff01;
	background-color: #136501;
}

#workskin .moros,
#workskin .ddoom { /* custom */
	color: #ffffff;
	background-color: #204020;
}

#workskin .hemera,
#workskin .dlife {
	color: #ffffff;
	background-color: #fcaf01;
}

#workskin .eusebia,
#workskin .dblood { /* custom */
	color: #ffffff;
	background-color: #ba1016;
}

#workskin .typheus,
#workskin .dbreath {
	color: #ffffff;
	background-color: #00ff01;
}

#workskin .yaldabaoth,
#workskin .denizenlord {
	color: #d71e0b;
	background-color: #fea807;
}

/* Incipisphere bodies */

#workskin .prospit { /* from extended zodiac */
	color: #ffff00;
	background-color: #e49700;
}

#workskin .derse { /* from extended zodiac */
	color: #ff01fe;
	background-color: #9700e4;
}

#workskin .skaia {
	color: #ffffff;
	background-color: #21afff;
}

#workskin .horrorterror,
#workskin .horrorterrors,
#workskin .noblecircle {
	color: #8915b9;
	background-color: #000000;
}

/* Miscellaneous special colors */

/* Blue ~ATH text */
#workskin .athblue {
	color: #0000ff;
}

/* Blood colors */

/* Megido blood */
#workskin .megidoblood,
#workskin .aradiablood,
#workskin .arablood,
#workskin .apocalypsearisenblood,
#workskin .aablood,
#workskin .damarablood,
#workskin .handmaidblood,
#workskin .kangarammomblood,
#workskin .kangaram-momblood,
#workskin .rammomblood,
#workskin .ram-momblood {
	color: #a10000;
}

/* Nitram blood */
#workskin .nitramblood,
#workskin .tavrosblood,
#workskin .tavblood,
#workskin .adiostoreadorblood,
#workskin .atblood,
#workskin .rufiohblood,
#workskin .summonerblood,
#workskin .tinkerbullblood {
	color: #a25203;
}

/* Captor blood */
#workskin .captorblood,
#workskin .solluxblood,
#workskin .solblood,
#workskin .twinarmageddonsblood,
#workskin .tablood,
#workskin .mitunablood,
#workskin .psiioniicblood,
#workskin .psiblood,
#workskin .psiiblood,
#workskin .helmsmanblood,
#workskin .biclopsblood,
#workskin .biclopsdadblood,
#workskin .biclops-dadblood,
#workskin .bicyclopsblood,
#workskin .bicyclopsdadblood,
#workskin .bicyclops-dadblood {
	color: #a1a100;
}

/* Blood of humans, exiles, and Vantases*/
#workskin .humanblood,
#workskin .johnblood,
#workskin .roseblood,
#workskin .daveblood,
#workskin .jadeblood,
#workskin .janeblood,
#workskin .jakeblood,
#workskin .roxyblood,
#workskin .dirkblood,
#workskin .dadblood,
#workskin .momblood,
#workskin .broblood,
#workskin .grandpablood,
#workskin .grandmablood,
#workskin .poppopblood,
#workskin .nannablood,
#workskin .exileblood,
#workskin .vantasblood,
#workskin .karkatblood,
#workskin .karblood,
#workskin .kkblood,
#workskin .carcinogeneticistblood,
#workskin .cgblood,
#workskin .kankriblood,
#workskin .signlessblood,
#workskin .suffererblood,
#workskin .crabdadblood {
	color: #ff0000;
}

/* Leijon blood */
#workskin .leijonblood,
#workskin .nepetablood,
#workskin .nepblood,
#workskin .arseniccatnipblood,
#workskin .acblood,
#workskin .meulinblood,
#workskin .discipleblood,
#workskin .pounceblood,
#workskin .pouncedeleonblood,
#workskin .pounce-de-leonblood {
	color: #2e4800;
}

/* Maryam blood */
#workskin .maryamblood,
#workskin .kanayablood,
#workskin .kanblood,
#workskin .grimauxiliatrixblood,
#workskin .gablood,
#workskin .porrimblood,
#workskin .dolorosablood,
#workskin .mothergrubblood,
#workskin .mother-grubblood,
#workskin .virginmothergrubblood,
#workskin .virgin-mother-grubblood {
	color: #078446;
}

/* Pyrope blood */
#workskin .pyropeblood,
#workskin .tereziblood,
#workskin .tezblood,
#workskin .tzblood,
#workskin .gallowscalibratorblood,
#workskin .gcblood,
#workskin .latulablood,
#workskin .neophyteblood,
#workskin .redglareblood,
#workskin .dragonblood,
#workskin .pyralspiteblood {
	color: #008282;
}

/* Serket blood */
#workskin .serketblood,
#workskin .vriskablood,
#workskin .vrisblood,
#workskin .arachnidsgripblood,
#workskin .agblood,
#workskin .araneablood,
#workskin .marquiseblood,
#workskin .spinneretblood,
#workskin .mindfangblood,
#workskin .spiderblood,
#workskin .spidermomblood,
#workskin .spider-momblood {
	color: #004182;
}

/* Zahhak blood */
#workskin .zahhakblood,
#workskin .equiusblood,
#workskin .centaurstesticleblood,
#workskin .ctblood,
#workskin .horussblood,
#workskin .executorblood,
#workskin .expatri8blood,
#workskin .darkleerblood,
#workskin .aurthourblood,
#workskin .altaradiablood {
	color: #0021cb;
}

/* Makara blood */
#workskin .makarablood,
#workskin .gamzeeblood,
#workskin .gamblood,
#workskin .terminallycapriciousblood,
#workskin .tcblood,
#workskin .kurlozblood,
#workskin .grandhighbloodblood,
#workskin .ghbblood,
#workskin .goatdadblood {
	color: #440a7f;
}

/* Ampora blood */
#workskin .amporablood,
#workskin .eridanblood,
#workskin .eriblood,
#workskin .caligulasaquariumblood,
#workskin .cablood,
#workskin .cronusblood,
#workskin .orphanerblood,
#workskin .dualscarblood,
#workskin .seahorsedadblood,
#workskin .seahorse-dadblood,
#workskin .skyhorsedadblood,
#workskin .skyhorse-dadblood {
	color: #6a006a;
}

/* Peixes blood */
#workskin .peixesblood,
#workskin .feferiblood,
#workskin .fefblood,
#workskin .ffblood,
#workskin .cuttlefishcullerblood,
#workskin .ccblood,
#workskin .meenahblood,
#workskin .herimperiouscondescensionblood,
#workskin .hicblood,
#workskin .condesceblood,
#workskin .condyblood,
#workskin .batterwitchblood,
#workskin .gl’bgolybblood,
#workskin .glbgolybblood {
	color: #99004d;
}

/* Sign colors */

/* Megido sign */
#workskin .megidosign,
#workskin .aradiasign,
#workskin .arasign,
#workskin .apocalypsearisensign,
#workskin .aasign,
#workskin .damarasign,
#workskin .handmaidsign,
#workskin .kangarammomsign,
#workskin .kangaram-momsign,
#workskin .rammomsign,
#workskin .ram-momsign {
	color: #a60100;
}

/* Nitram sign */
#workskin .nitramsign,
#workskin .tavrossign,
#workskin .tavsign,
#workskin .adiostoreadorsign,
#workskin .atsign,
#workskin .rufiohsign,
#workskin .summonersign,
#workskin .tinkerbullsign {
	color: #a25203;
}

/* Captor sign */
#workskin .captorsign,
#workskin .solluxsign,
#workskin .solsign,
#workskin .twinarmageddonssign,
#workskin .tasign,
#workskin .mitunasign,
#workskin .psiioniicsign,
#workskin .psisign,
#workskin .psiisign,
#workskin .helmsmansign,
#workskin .biclopssign,
#workskin .biclopsdadsign,
#workskin .biclops-dadsign,
#workskin .bicyclopssign,
#workskin .bicyclopsdadsign,
#workskin .bicyclops-dadsign {
	color: #a1a100;
}

/* Gray Vantas sign */
#workskin .vantasbsign,
#workskin .karkatsign,
#workskin .karsign,
#workskin .kksign,
#workskin .carcinogeneticistsign,
#workskin .cgsign {
	color: #6c6c6c;
}

/* Red Vantas sign */
#workskin .vantasasign,
#workskin .altkarkatsign,
#workskin .altkarsign,
#workskin .altkksign,
#workskin .altcarcinogeneticistsign,
#workskin .altcgsign,
#workskin .kankrisign,
#workskin .signlesssign,
#workskin .sufferersign {
	color: #ff0000;
}

/* Leijon sign */
#workskin .leijonsign,
#workskin .nepetasign,
#workskin .nepsign,
#workskin .arseniccatnipsign,
#workskin .acsign,
#workskin .meulinsign,
#workskin .disciplesign,
#workskin .pouncesign,
#workskin .pouncedeleonsign,
#workskin .pounce-de-leonsign {
	color: #416600;
}

/* Maryam sign */
#workskin .maryamsign,
#workskin .kanayasign,
#workskin .kansign,
#workskin .grimauxiliatrixsign,
#workskin .gasign,
#workskin .porrimsign,
#workskin .dolorosasign,
#workskin .mothergrubsign,
#workskin .mother-grubsign,
#workskin .virginmothergrubsign,
#workskin .virgin-mother-grubsign {
	color: #078446;
}

/* Pyrope sign */
#workskin .pyropesign,
#workskin .terezisign,
#workskin .tezsign,
#workskin .tzsign,
#workskin .gallowscalibratorsign,
#workskin .gcsign,
#workskin .latulasign,
#workskin .neophytesign,
#workskin .redglaresign,
#workskin .dragonsign,
#workskin .pyralspitesign {
	color: #008282;
}

/* Serket sign */
#workskin .serketsign,
#workskin .vriskasign,
#workskin .vrissign,
#workskin .arachnidsgripsign,
#workskin .agsign,
#workskin .araneasign,
#workskin .marquisesign,
#workskin .spinneretsign,
#workskin .mindfangsign,
#workskin .spidersign,
#workskin .spidermomsign,
#workskin .spider-momsign {
	color: #004083;
}

/* Zahhak sign */
#workskin .zahhaksign,
#workskin .equiussign,
#workskin .centaurstesticlesign,
#workskin .ctsign,
#workskin .horusssign,
#workskin .executorsign,
#workskin .expatri8sign,
#workskin .darkleersign,
#workskin .aurthoursign,
#workskin .altaradiasign {
	color: #0021cb;
}

/* Makara sign */
#workskin .makarasign,
#workskin .gamzeesign,
#workskin .gamsign,
#workskin .terminallycapricioussign,
#workskin .tcsign,
#workskin .kurlozsign,
#workskin .grandhighsignsign,
#workskin .ghbsign,
#workskin .goatdadsign {
	color: #440a7f;
}

/* Ampora sign */
#workskin .amporasign,
#workskin .eridansign,
#workskin .erisign,
#workskin .caligulasaquariumsign,
#workskin .casign,
#workskin .cronussign,
#workskin .orphanersign,
#workskin .dualscarsign,
#workskin .seahorsedadsign,
#workskin .seahorse-dadsign,
#workskin .skyhorsedadsign,
#workskin .skyhorse-dadsign {
	color: #6a006a;
}

/* Peixes sign */
#workskin .peixessign,
#workskin .feferisign,
#workskin .fefsign,
#workskin .ffsign,
#workskin .cuttlefishcullersign,
#workskin .ccsign,
#workskin .meenahsign,
#workskin .herimperiouscondescensionsign,
#workskin .hicsign,
#workskin .condescesign,
#workskin .condysign,
#workskin .batterwitchsign,
#workskin .gl’bgolybsign,
#workskin .glbgolybsign {
	color: #99004d;
}

/* Troll body colors */

#workskin .hornbottom,
#workskin .hornbase,
#workskin .horn1 {
	color: #ff4200;
}

#workskin .hornmiddle,
#workskin .hornmid,
#workskin .horn2 {
	color: #ff9000;
}

#workskin .horntop,
#workskin .horntip,
#workskin .horn3 {
	color: #ffba29;
}

#workskin .trollskin {
	color: #c4c4c4;
}