/* AO3 defaults */
body {
	margin: 0;
	font: 15px/1.125 'Lucida Grande','Lucida Sans Unicode','GNU Unifont',Verdana,Helvetica,sans-serif;
}

main {
	padding: 1% 3.5% 3%;
	margin: .75em 0;
	border-bottom: 1px solid;
	font-size: .875em;
}

@media screen and (min-width: 672px) {
	main { font-size: 1em; }
}

main > section {
	max-width: 72em;
	margin: auto;
}

main p {
	margin: 1.286em auto;
	padding: 0;
	line-height: 1.5;
}

main a {
	border-bottom: 1px solid;
	text-decoration: none;
}

main img {
	max-width: 100%;
}

table { width: 100%; }
td { padding: .25em; }

a:active,
a:focus {
	outline: 1px dotted;
}

hr {
	width: 33%;
	margin: .875em auto 1.2525em;
}


/* Navigation and settings section */
#preview {
	padding: 1em;
	margin: 0;
	text-align: center;
}
#preview a {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid;
}
#preview a:hover { text-decoration: underline; }

#skintoggle {
	margin: 0;
	text-align: center;
	box-shadow: inset 0 -6px 10px rgba(0,0,0,.35) , 1px 1px 3px -1px rgba(0,0,0,.25) , inset 0 -1px 0 rgba(0,0,0,.85);
}
#skintoggle a {
	cursor: pointer;
	display: inline-block;
	padding: .429em .75em;
}
.sitetoggle {
	border-left: 1px solid #fffa;
	padding-left: .75em;
}


/* Default skin */
.default {
	background-color: #fff;
	color: #2a2a2a;
}

.default #preview a { color: #900; }

.default #skintoggle {
	background: #900 url(https://archiveofourown.org/images/skins/textures/tiles/red-ao3.png);
	color: #fff;
}
.default #skintoggle a.selected,
.default #skintoggle a:hover {
	background: #ddd;
	color: #111;
}

.default main > section a,
.default main > section a:link,
.default main > section a:visited:hover { color: #111; }
.default main > section a:visited { color: #666; }
.default main > section a:hover { color: #999; }


/* Reversi skin */
.reversi {
	background-color: #333333;
	color: #eee;
}

.reversi #preview a { color: #5998d6; }

.reversi #skintoggle {
	background: #454545 url(https://archiveofourown.org/images/skins/textures/tiles/black-noise.jpg);
	color: #fff;
}
.reversi #skintoggle a.selected,
.reversi #skintoggle a:hover { background: #2a2a2a; }

.reversi main > section a,
.reversi main > section a:link,
.reversi main > section a:visited:hover { color: #fff; }
.reversi main > section a:visited { color: #999; }
.reversi main > section a:hover { color: #bbb; }


/* Low contrast skin */
.low-contrast {
	background-color: #a59c91;
	color: #ccc;
}

.low-contrast #preview { background: #423d36; }
.low-contrast #preview a {
	color: #c9b8c1;
}

.low-contrast #skintoggle {
	background-color: #2b2823;
	color: #ffffffbf;
}
.low-contrast #skintoggle a.selected,
.low-contrast #skintoggle a:hover {
	color: #c22;
	background: #000c;
}

.low-contrast main {
	margin: .75em .5em 1.5em;
	padding-bottom: 1%;
	border: none;
	background-color: #564b3f;
}

.low-contrast main > section a,
.low-contrast main > section a:link,
.low-contrast main > section a:visited:hover { color: #ccc; }
.low-contrast main > section a:visited { color: #999; }
.low-contrast main > section a:hover { color: #fff; }