#workskin .hyj {
	color: #ac00b1;
}

#workskin .hyj2 {
	color: #7500b7;
}

#workskin .hyh {
	color: #a30101;
}

#workskin .shj {
	color: #ba9d00;
}

#workskin .gyeol {
	color: #ed0085;
}

#workskin .ksy {
	color: #0f7ee0;
}

#workskin .byr {
	color: #2b1ba2;
}

#workskin .stw {
	color: #302f4d;
}

#workskin .riette {
	color: #e2bf00;
}

#workskin .noah {
	color: #3c916d;
}

#workskin .ymw {
	color: #d96600;
}

#workskin .mha {
	color: #d70000;
}

#workskin .system.block {
	background: #002f4d;
	color: #eaeaea;
	border-color: #c9ffff;
}

#workskin .waterdroplet,
#workskin .wd {
	color: #43d0f1;
}

#workskin .newcomer,
#workskin .nc {
	color: #d7d3cd;
}
#workskin .newcomer2,
#workskin .nc2 {
	color: #7e7668;
}

#workskin .tree {
	color: #02d22c;
}

#workskin .crescentmoon,
#workskin .cm {
	color: #a49e77;
}
#workskin .crescentmoon2,
#workskin .cm2 {
	color: #817845;
}