{% capture links %}<p>
	{% if page.ao3_url %}
	<span>Preview on <a href="{{ page.ao3_url }}">AO3</a></span>
	{% else %}
	<span class="unavailable">No AO3 preview</span>
	{% endif %}
	{% if page.gist_url %}
	<span>Code on <a href="{{ page.gist_url }}">GitHub Gist</a></span>
	{% else %}
	<span class="unavailable">Code not available</span>
	{% endif %}
</p>{% endcapture %}

{% capture work %}<a class="work active">Disable work skin</a>{% endcapture %}

{% include header.html sourcelinks=links workskin=work %}