<header>
	<section id="top">
		<h1><a href="{{ site.baseurl }}">@wovenstarlight's AO3 skins</a></h1>
		<p>
			{% if page.ao3_url %}
			<span>Preview on <a href="{{ page.ao3_url }}">AO3</a></span>
			{% else %}
			<span class="unavailable">No AO3 preview</span>
			{% endif %}
			{% if page.gist_url %}
			<span>Code on <a href="{{ page.gist_url }}">GitHub Gist</a></span>
			{% else %}
			<span class="unavailable">Code not available</span>
			{% endif %}
		</p>
	</section>
	
	<p id="skintoggle">
		{% include sitetoggle.html %}<!--
	 --><a class="work active">Disable work skin</a>
	</p>
</header>